@{
    ViewData["Title"] = "Spriha Education Care";
}

<style>
    .carousel,
    .carousel-inner,
    .carousel-item,
    .carousel-item img {
        height: 100%;
        object-fit: cover;
        /* box-shadow: inset 0 0 5px 0 #bcbcbc; */
    }

    .carousel-item {
        /* border: 1px solid #bcbcbc; */
        /* box-shadow: inset 0 0 5px 0 #bcbcbc; */
    }


        .carousel-item img {
            /* box-shadow: inset 0 0 5px 0 #bcbcbc; */
            /* background: linear-gradient(to top, #bcbcbc, #ffffff); */
        }

    .active {
        /* background: linear-gradient(to top, #bcbcbc, #ffffff); */
        /* box-shadow: inset 0 0 5px 0 #bcbcbc; */
    }

    .carousel-indicators {
        position: absolute;
        align-items: center;
    }

        .carousel-indicators [data-bs-target] {
            background-color: white;
        }

        .carousel-indicators [data-bs-target] {
            /* background-color: #004B5F; */
            padding: 6px;
            border-radius: 50%;
            height: 0px;
            width: 0px;
        }

        .carousel-indicators .active {
            padding: 7px !important;
        }

    .carousel-control-next-icon, .carousel-control-prev-icon{
        width: 3rem;
        height: 3rem;
    }

    .carousel-control-next, .carousel-control-prev{
        width: 5%;
    }
    /* .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23001844' viewBox='0 0 8 8'%3e%3cpath d='M5.5 0L4.79.71 1.5 4l3.29 3.29.71.71 1-1L.5 4l3-3z'/%3e%3c/svg%3e");
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23001844' viewBox='0 0 8 8'%3e%3cpath d='M2.5 0l-.71.71L5.09 4l-3.3 3.29.71.71L6.5 4 2.5 0z'/%3e%3c/svg%3e");
    } */
    .hero-3{
        display: flex;
    }
    .aboutSpriha {
        width: 50%;
        background: linear-gradient(to bottom, rgba(0, 24, 68, 0.2), rgba(188, 188, 188, 0.3));
        padding: 30px;
        text-align: center;
        color: #001844;
        font-size: 20px;
        /* box-shadow: inset 0px 0px 3px 0px #1a73e8; */
        /* box-shadow: 0px 3px 3px rgba(119,118,121,.5); */
        /* box-shadow: 0px 1px 10px rgba(0,24,68,0.4); */
        display: flex;
        flex-direction: column; /* stack elements vertically */
        justify-content: center;
        align-items: center; 
        box-sizing: border-box;
    }

        .aboutSpriha h2 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 30px;
        color: #001844;
    }

        .aboutSpriha h3 {
        color: #001844;
        margin-top: 10px;
        font-size: 1.4rem;
        font-weight: 600;
        }

        .aboutSpriha p {
        font-size: 1.05rem;
        line-height: 1.8;
        margin-bottom: 15px;
        color: rgba(0, 0, 0, 0.6);
    }

    .video-container {
        width: 70%;
        box-shadow: inset 0 0 150px 0px #001844 !important;
        /* margin: 0 auto;  */
    }

        .video-container iframe {
            width: 100%;
            height: 100%; 
        }

    .ytp-cued-thumbnail-overlay-image {
        box-shadow: inset 0 0 150px 0px #001844 !important;
    }

    .ytp-cued-thumbnail-overlay{
        box-shadow: inset 0 0 150px 0px #001844 !important;
    }

    .programs{
        padding: 5rem 2rem;
        box-shadow: inset 0 0 100px 0px #bcbcbc;
    }

    .programImg{
        height: 100%;
        width: 100%;
        padding: 10px;
    }

    .programsTitle {
        background: linear-gradient(-30deg, #2f74ba 50%, #001844);
        padding: 10px 100px;
        text-align: center;
        color: #f1f1f1;
        font-size: 35px;
        font-weight: 600;
        width: auto;
        border-radius: 50px;
        border: 3px solid #f1f1f1;
        /* box-shadow: inset 0px 0px 3px 0px #1a73e8; */
        /* box-shadow: 0px 3px 3px rgba(119, 118, 121, .5); */
        /* box-shadow: 0px 1px 10px rgba(0, 24, 68, 0.4);*/
    }

    

    .teachersMain{
        width: 50%;
        padding: 35px;
        background-color: #f1f1f1;
    }

    .teacherTitleMain{
        /* background: linear-gradient(-30deg, #2f74ba 50%, #001844); */
        background: linear-gradient(-30deg, #2f74ba 52%, #001844 50%);
        padding: 10px 20px;
        text-align: center;
        color: #f1f1f1;
        font-size: 20px;
        font-weight: 600;
        width: auto;
        border-radius: 0px;
        border: 3px solid #f1f1f1;
    }

    .slider {
        width: 600px;
        height: 400px;
        overflow: hidden;
        position: relative;
        margin: auto;
    }

    .slides {
        display: flex;
        width: 100%;
        height: 100%;
        transition: transform 0.5s ease-in-out;
    }

        .slides img {
            width: 600px;
            height: 400px;
        }

    .navigation {
        position: absolute;
        width: 100%;
        top: 50%;
        display: flex;
        justify-content: space-between;
        transform: translateY(-50%);
    }

    .nav-btn {
        background-color: rgba(0,0,0,0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
    }

    .teachersList {
        /* background: linear-gradient(-30deg, #2f74ba 50%, #001844); */
        border: 2px solid white;
        padding: 10px 50px;
        text-align: center;
        color: #2f74ba;
        font-size: 17px;
        font-weight: 600;
        width: auto;
        border-radius: 0px;
        
    }

    .resPrograms{
        padding: 5rem;
        box-shadow: inset 0 0 50px 0px #bcbcbc;
    }

    .programSlider{

    }


    /* .................TeacherSlider.....................*/


    .ourTeacher {
        padding: 10px;
               /*  margin-top: 200px;
                text-align: center;
                height: auto;
                border-top: 1px solid gray;
                border-bottom: 1px solid gray;
                background-image: linear-gradient(to top, #051527, #023667); */
            }

            .title-partner {
                font-size: 50px;
                font-weight: 600;
                color: #009cdc;
                padding: 20px;
            }

            .gallery-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                /*margin: 10% auto;*/
    }

   /*  .gallery div img {
        width: 175px;
        border-radius: 5px;
    } */

    .gallery {
        width: 1320px;
        display: flex;
        overflow-x: scroll;
        /*animation: scroll 40s linear infinite;*/
    }

        .gallery div {
            /* width: auto; */
            /* display: grid;
                grid-auto-columns: auto auto auto;
                grid-gap: 20px; */
            /* padding: 10px; */
            flex: none;
        }

            .gallery div img {
                width: 140px;
                height: 180px;
                border-radius: 0px;
                /*filter: grayscale(100%);*/
                transition: transform 0.5s;
            }

        .gallery::-webkit-scrollbar {
            display: none;
        }


    #backBtn,
    #nextBtn {
        cursor: pointer;
        margin: 35px;
    }

    .gallery div img:hover {
        filter: grayscale(0);
        cursor: pointer;
        transform: scale(1.1);
    }

    .programImg{
        transition: transform 0.5s;
    }
    .programImg:hover{
        transform: scale(1.05);
    }

    /*...Sliding Images...*/
    @@keyframes slide {
        from

    {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

    }

    .logos {
        overflow: hidden;
        /*padding: 60px 0;*/
        white-space: nowrap;
        position: relative;
    }

        .logos:before,
        .logos:after {
            position: absolute;
            top: 0;
            /*width: 250px;*/
            height: 100%;
            content: "";
            z-index: 2;
        }

        .logos:before {
            left: 0;
            /*background: linear-gradient(to left, rgba(255, 255, 255, 0), #009cdc);*/
        }

        .logos:after {
            right: 0;
            /*background: linear-gradient(to right, rgba(255, 255, 255, 0), #009cdc);*/
        }

        .logos:hover .logos-slide {
            animation-play-state: paused;
        }

    .logos-slide {
        display: inline-block;
        animation: 60s slide infinite linear;
    }

    .ourTeacherImage {
        margin-right: 15px;
    }

    @@media (max-width: 768px) {
    }



</style>


<section class="hero">
    <div class="slideShow" style="position: relative;">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/assets/images/Sub 01 (Mobile).webp" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/assets/images/Sub 02 (Mobile).webp" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/assets/images/Sub 03 (Mobile).webp" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/assets/images/Sub 04 (Mobile).webp" class="d-block w-100 h-100" alt="...">
                </div>
            </div>
            @* <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button> *@
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
        </div>
        <div class="overlay">
        </div>
    </div>
    <div class="slideShowRes" style="position: relative;">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/assets/images/Slide Mobile 01.webp" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/assets/images/Slide Mobile 02.webp" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/assets/images/Slide Mobile 03.webp" class="d-block w-100 h-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/assets/images/Slide Mobile 04.webp" class="d-block w-100 h-100" alt="...">
                </div>
            </div>
            @* <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button> *@
        </div>

        <div class="overlay">
        </div>
    </div>

 

</section>
<section class="hero-2">
    <div class="video-container">
        <iframe 
            width="560" height="315" src="https://www.youtube.com/embed/VRp8KUaExuY?si=3bErSdg9m3usBIZY" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
    <div class="admissionForm">
        <div class="admissionFromInner">

            <h2 style="color: white;text-align: center;margin-bottom: 2rem;">
                ফ্রি ক্লাসের জন্য আবেদন
            </h2>

            <form method="post" asp-controller="Home" asp-action="admissionForm">
                <div style="border: 1px solid #bcbcbc;">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="userName" placeholder="Name">
                        <span class="warning"></span>

                        <label for="floatingInput">শিক্ষার্থীর নাম:</label>
                    </div>
                    <div class="form-floating">
                        <input type="tel" class="form-control" id="phoneNumber" placeholder="Mobile">
                        <span class="warning"></span>
                        <label for="floatingInput">মোবাইল নম্বর:</label>
                    </div>
                    <div class="form-floating">
                        <input type="email" class="form-control" id="userEmail" placeholder="email@example.com">
                        <span class="warning"></span>

                        <label for="floatingInput">পিতা/মাতার নাম:</label>
                    </div>
                    <div class="form-floating">
                        <input type="email" class="form-control" id="userEmail" placeholder="email@example.com">
                        <span class="warning"></span>

                        <label for="floatingInput">ঠিকানা:</label>
                    </div>
                    <div class="form-floating">
                        <input type="email" class="form-control" id="userEmail" placeholder="email@example.com">
                        <span class="warning"></span>

                        <label for="floatingInput">স্কুল/কলেজের নাম:</label>
                    </div>
                    <div class="form-floating">
                        <input type="email" class="form-control" id="userEmail" placeholder="email@example.com">
                        <span class="warning"></span>

                        <label for="floatingInput">ইমেইল আইডি:</label>
                    </div>
                </div>


                <button type="submit" class="submitBtn mt-4" onclick="saveScrollPosition()">সাবমিট </button>
            </form>

        </div>
    </div>
    
</section>
<hr />
<section class="hero-3">
    <div class="aboutSpriha">
        <h3>স্পৃহা কী?</h3>
        <p>
            <strong>স্পৃহা</strong> একটি <strong>নলেজ শেয়ারিং প্ল্যাটফর্ম</strong>, যেখানে বুয়েট, ঢাকা বিশ্ববিদ্যালয় ও মেডিকেল কলেজের শিক্ষার্থীরা তাঁদের অর্জিত জ্ঞান ও অভিজ্ঞতা ভাগ করে নিচ্ছেন এসএসসি ও এইচএসসি পর্যায়ের শিক্ষার্থীদের সঙ্গে।
        </p>
        <p>
            আমাদের একমাত্র লক্ষ্য হলো শিক্ষার্থীর মৌলিক ভিত্তি গড়ে তোলা, যাতে তারা ভবিষ্যতের শিক্ষাজীবনে আর কষ্টে না পড়ে।
        </p>
    </div>
    <div class="teachersMain">
        <div>
            <h1 class="teacherTitleMain">আমাদের সম্মানিত শিক্ষকমণ্ডলী</h1>
        </div>
        <div class="ourTeacher">
            <div class="col-md-12">
                <div class="row">
                    <div class="gallery-wrap">
                        @* <img src="~/assets/images/Icon ionic-ios-arrow-back.svg" id="backBtn" alt=""> *@
                        <div class="gallery logos">
                            <div class="logos-slide d-flex">
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/2. Aribullah.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/3. Win.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/4. Abid.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/5. Hussen.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/6. Basit.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/7. Shafat.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/8. Monjurul.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/9. Kayes.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/10. Sabit Al Sami.jpg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/11. Arish.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/12. Fahim.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/13. Suhanur.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/6. Basit.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/14. Shupto.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/15. Shoeb.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/16. Mynurdoza.jpg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                 <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/17. Sazzad.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/18. Shadhin.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/19. Jihad.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/20. Arpon.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/21. Kawsar.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/22. Jisan.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/8. Monjurul.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/9. Kayes.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/2. Aribullah.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/3. Win.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/4. Abid.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/5. Hussen.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/6. Basit.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/7. Shafat.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/8. Monjurul.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/9. Kayes.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                               @*  <span class="ourTeacherImage"><img src="~/assets/images/2. Aribullah.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/3. Win.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/4. Abid.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/5. Hussen.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/6. Basit.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/7. Shafat.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/8. Monjurul.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/9. Kayes.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/10. Sabit Al Sami.jpg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/11. Arish.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/12. Fahim.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/13. Suhanur.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/14. Shupto.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/15. Shoeb.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/16. Mynurdoza.jpg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/17. Sazzad.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/18. Shadhin.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/19. Jihad.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/20. Arpon.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/21. Kawsar.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/22. Jisan.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/23. Choton.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/24. Radhik.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/25. Abdullah.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/26. Rajibul.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/27. Kafi.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/28. Jibon.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/29. Sakib.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/30. Afnan.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/31. Tonmoy.jpg" alt=""></span> *@
                            </div>
                            <div class="logos-slide d-flex">
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/2. Aribullah.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/3. Win.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/4. Abid.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/5. Hussen.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/6. Basit.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/7. Shafat.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/8. Monjurul.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/9. Kayes.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/10. Sabit Al Sami.jpg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/11. Arish.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/12. Fahim.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/13. Suhanur.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/6. Basit.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/14. Shupto.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/15. Shoeb.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/16. Mynurdoza.jpg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/17. Sazzad.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/18. Shadhin.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/19. Jihad.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/20. Arpon.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/21. Kawsar.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/22. Jisan.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/8. Monjurul.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/9. Kayes.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/2. Aribullah.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/3. Win.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/4. Abid.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/5. Hussen.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/6. Basit.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/7. Shafat.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/8. Monjurul.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                <div class="ourTeacherImage" style="position: relative;">
                                    <div>
                                        <img src="~/assets/images/9. Kayes.jpeg" alt="">
                                    </div>
                                    <div class="overlay2">
                                    </div>
                                </div>
                                @*  <span class="ourTeacherImage"><img src="~/assets/images/2. Aribullah.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/3. Win.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/4. Abid.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/5. Hussen.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/6. Basit.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/7. Shafat.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/8. Monjurul.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/9. Kayes.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/10. Sabit Al Sami.jpg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/11. Arish.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/12. Fahim.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/13. Suhanur.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/14. Shupto.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/15. Shoeb.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/16. Mynurdoza.jpg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/17. Sazzad.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/18. Shadhin.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/19. Jihad.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/20. Arpon.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/21. Kawsar.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/22. Jisan.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/23. Choton.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/24. Radhik.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/25. Abdullah.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/26. Rajibul.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/27. Kafi.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/28. Jibon.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/29. Sakib.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/30. Afnan.jpeg" alt=""></span>
                                <span class="ourTeacherImage"><img src="~/assets/images/31. Tonmoy.jpg" alt=""></span> *@
                            </div>
                            <!-- <div>
                                  <span><img src="Logos-04.jpg" alt=""></span>
                                  <span><img src="Logos-05.jpg" alt=""></span>
                                  <span><img src="Logos-06.jpg" alt=""></span>
                                </div> -->
                        </div>
                        @* <img src="~/assets/images/Icon ionic-ios-arrow-back-1.svg" id="nextBtn" alt=""> *@
                    </div>

                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center" style="font-family: cursive; ">
            <a asp-area="" asp-controller="Home" asp-action="Teachers" style="text-decoration: none;">
                <div class="title teachersList col-md-12 mt-4 ">
                    শিক্ষকমণ্ডলীর তালিকা <i class="fa-solid fa-arrow-right"></i>
                </div>
            </a>
        </div>
    </div>
</section>
<hr />


<section class="programs">
    <div class="d-flex justify-content-center container">
        <div class="row">
            <div class="title programsTitle col-md-12 mb-4" style="font-family: cursive; ">প্রোগ্রামসমূহ:</div>
        </div>
    </div>
    
    
    <div class="container">
        <div class="row">
            <div class="col-md-3 my-3">
                <a href="https://wa.me/8801341629475?text=Hello%2C%20I%20want%20to%20know%20more%20about%20your%20services" target="_blank">
                    <img src="~/assets/images/Subject Wise 01.webp" class="programImg">
                </a>
            </div>
            <div class="col-md-3 my-3">
                <a href="#">
                        <img src="~/assets/images/Subject Wise 02.webp" class="programImg">
                </a>
            </div>
            <div class="col-md-3 my-3">
                <a href="https://wa.me/8801341629475?text=Hello%2C%20I%20want%20to%20know%20more%20about%20your%20services" target="_blank">
                    <img src="~/assets/images/Subject Wise 03.webp" class="programImg">
                </a>
            </div>
            <div class="col-md-3 my-3">
                <a href="https://wa.me/8801341629475?text=Hello%2C%20I%20want%20to%20know%20more%20about%20your%20services" target="_blank">
                    <img src="~/assets/images/Subject Wise 04.webp" class="programImg">
                </a>
            </div>
            <div class="col-md-3 my-3">
                <a href="https://wa.me/8801341629475?text=Hello%2C%20I%20want%20to%20know%20more%20about%20your%20services" target="_blank">
                    <img src="~/assets/images/Subject Wise 05.webp" class="programImg">
                </a>
            </div>
            <div class="col-md-3 my-3">
                <a href="https://wa.me/8801341629475?text=Hello%2C%20I%20want%20to%20know%20more%20about%20your%20services" target="_blank">
                    <img src="~/assets/images/Subject Wise 06.webp" class="programImg">
                </a>
            </div>
            <div class="col-md-3 my-3">
                <a href="https://wa.me/8801341629475?text=Hello%2C%20I%20want%20to%20know%20more%20about%20your%20services" target="_blank">
                    <img src="~/assets/images/Subject Wise 07.webp" class="programImg">
                </a>
            </div>
            <div class="col-md-3 my-3">
                <a href="https://wa.me/8801341629475?text=Hello%2C%20I%20want%20to%20know%20more%20about%20your%20services" target="_blank">
                    <img src="~/assets/images/Subject Wise 08.webp" class="programImg">
                </a>
            </div>
        </div>
    </div>
</section>
<section class="resPrograms">
    <div class="d-flex justify-content-center container">
        <div class="row">
            <div class="title programsTitle col-md-12 mb-4" style="font-family: cursive; ">প্রোগ্রামসমূহ:</div>
        </div>
    </div>
    <div class="container programSlider">
        @* <div class="your-slider">
            <div>
                <img src="~/assets/images/Subject Wise 01.webp" class="programImg">
            </div>
            <div>
                <img src="~/assets/images/Subject Wise 02.webp" class="programImg">
            </div>
            <div>
                <img src="~/assets/images/Subject Wise 03.webp" class="programImg">
            </div>
            <div>
                <img src="~/assets/images/Subject Wise 04.webp" class="programImg">
            </div>
            <div>
                <img src="~/assets/images/Subject Wise 05.webp" class="programImg">
            </div>
            <div>
                <img src="~/assets/images/Subject Wise 06.webp" class="programImg">
            </div>
            <div>
                <img src="~/assets/images/Subject Wise 07.webp" class="programImg">
            </div>
            <div>
                <img src="~/assets/images/Subject Wise 08.webp" class="programImg">
            </div>
        </div> *@
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="https://wa.me/8801341629475?text=Hello%2C%20I%20want%20to%20know%20more%20about%20your%20services" target="_blank">
                        <img src="~/assets/images/Subject Wise 01.webp" class="programImg">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="https://wa.me/8801341629475?text=Hello%2C%20I%20want%20to%20know%20more%20about%20your%20services" target="_blank">
                        <img src="~/assets/images/Subject Wise 02.webp" class="programImg">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="https://wa.me/8801341629475?text=Hello%2C%20I%20want%20to%20know%20more%20about%20your%20services" target="_blank">
                        <img src="~/assets/images/Subject Wise 03.webp" class="programImg">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="https://wa.me/8801341629475?text=Hello%2C%20I%20want%20to%20know%20more%20about%20your%20services" target="_blank">
                        <img src="~/assets/images/Subject Wise 04.webp" class="programImg">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="https://wa.me/8801341629475?text=Hello%2C%20I%20want%20to%20know%20more%20about%20your%20services" target="_blank">
                        <img src="~/assets/images/Subject Wise 05.webp" class="programImg">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="https://wa.me/8801341629475?text=Hello%2C%20I%20want%20to%20know%20more%20about%20your%20services" target="_blank">
                        <img src="~/assets/images/Subject Wise 06.webp" class="programImg">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="https://wa.me/8801341629475?text=Hello%2C%20I%20want%20to%20know%20more%20about%20your%20services" target="_blank">
                        <img src="~/assets/images/Subject Wise 07.webp" class="programImg">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="https://wa.me/8801341629475?text=Hello%2C%20I%20want%20to%20know%20more%20about%20your%20services" target="_blank">
                        <img src="~/assets/images/Subject Wise 08.webp" class="programImg">
                    </a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
            </button>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
            </div>
        </div>
    </div>
</section>
@* <section class="teachers">
    <div class="wrapper">
        <div class="image img1"><img src="~/assets/images/10. Sabit Al Sami.jpg" class="img img1"></div>
        <div class="image img2"><img src="~/assets/images/11. Arish.jpeg" class="img img2"></div>
        <div class="image img3"><img src="~/assets/images/12. Fahim.jpeg" class="img img3"></div>
        <div class="image img4"><img src="~/assets/images/13. Suhanur.jpeg" class="img img4"></div>
        <div class="image img5"><img src="~/assets/images/14. Shupto.jpeg" class="img img5"></div>
        <div class="image img6"><img src="~/assets/images/15. Shoeb.jpeg" class="img img6"></div>
        <div class="image img7"><img src="~/assets/images/16. Mynurdoza.jpg" class="img img7"></div>
        <div class="image img8"><img src="~/assets/images/17. Sazzad.jpeg" class="img img8"></div>
        <div class="image img9"><img src="~/assets/images/18. Shadhin.jpeg" class="img img9"></div>
        <div class="image img10"><img src="~/assets/images/19. Jihad.jpeg" class="img img10"></div>
        <div class="image img11"><img src="~/assets/images/2. Aribullah.jpeg" class="img img11"></div>
        <div class="image img12"><img src="~/assets/images/20. Arpon.jpeg" class="img img12"></div>
        <div class="image img13"><img src="~/assets/images/21. Kawsar.jpeg" class="img img13"></div>
        <div class="image img14"><img src="~/assets/images/22. Jisan.jpeg" class="img img14"></div>
        <div class="image img15"><img src="~/assets/images/23. Choton.jpeg" class="img img15"></div>
        <div class="image img16"><img src="~/assets/images/24. Radhik.jpeg" class="img img16"></div>

        <div class="text">
            <h1 style="color: #001844;">আমাদের সম্মানিত শিক্ষকমণ্ডলী</h1>
        </div>
    </div>
</section> *@
@* <section class="sprihaSologan">
    <div>
        <img src="~/assets/images/Name With Slogan.png" class="d-block w-100 h-100" alt="...">

    </div>
</section> *@





