@{
    ViewData["Title"] = "Teachers";
}
<style>
    .titleMain {
        background: linear-gradient(to bottom, rgba(0, 24, 68, 0.2), rgba(188, 188, 188, 0.3));
        padding: 20px;
        text-align: center;
        color: #001844;
        font-size: 20px;
        font-weight: 600;
        /* box-shadow: inset 0px 0px 3px 0px #1a73e8; */
        /* box-shadow: 0px 3px 3px rgba(119,118,121,.5); */
        /* box-shadow: 0px 1px 10px rgba(0,24,68,0.4); */
    }

    .b-gallery.t-theme--light {
        background-color: #0e0e0e;
    }

    .b-gallery {
        align-items: center;
        background: #e2e6e7;
        display: flex;
        margin-bottom: 0;
        margin-top: 0;
        overflow: hidden;
        padding: 150px 0;
        position: relative;
    }

    .c-block {
        margin-bottom: 48px;
        margin-top: 48px;
    }

    .b-gallery__lines {
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .l-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1440px;
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;
    }

    .teachersMain {
    }

    .card-img-top {
        height: 300px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .card {
        /* border: 1px solid #bcbcbc; */
        background: white;
        border-radius: 20px;
        /* padding: 10px; */
        text-align: left;
        color: gray;
        box-shadow: 0px 0px 3px 0px #bcbcbc;
    }

    .card-body {
        padding: 2rem 2rem;
    }

    ul {
        padding-left: 1rem;
    }

    .card p {
        color: #001844;
    }

    .card-title {
        color: #1a73e8;
    }

    .programBtn {
        width: 75%;
        background-color: #001844;
        color: #f1f1f1;
        border-radius: 25px;
        padding: 10px 20px;
        border: 1px solid #001844;
        font-weight: 600;
    }

        .programBtn:hover {
            background-color: #f1f1f1;
            color: #001844;
            border: 1px solid #001844;
            box-shadow: inset 0 0 10px 0 #001844;
        }
</style>

<section class="titleMain">
    <div class="title teacherList col-md-12" style="font-family: cursive; ">প্রোগ্রামসমূহ:</div>
</section>
<div class="executiveCommiteeMain container">
    @* <div class="title">
        <div class="teacherList col-md-12 mb-4" style="font-family: cursive;">প্রোগ্রামসমূহ:</div>
    </div> *@
    <div class="program row">
        <div class="col-md-6 my-3">
            <div class="card" style="">
                <img src="~/assets/images/Sub 01 (Mobile).webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center mb-3">৯ম শ্রেণি একাডেমিক প্রোগ্রাম ২০২৫ (নতুন ব্যাচ)</h5>
                    <ul>
                        <li class="mb-1">
                            <p class="card-text">প্রতিটি বিষয়ের প্যারালাল টেক্সট</p>
                        </li>
                        <li class="mb-1">
                            <p class="card-text">লেকচার ক্লাস ও রেকর্ডেড ভিডিও</p>
                        </li>
                        <li class="mb-1">
                            <p class="card-text">এক্সাম ও প্র্যাক্টিস এক্সাম</p>
                        </li>
                        <li class="mb-1">
                            <p class="card-text">PDF ক্লাস নোট ও এক্সাম সল্যুশন</p>
                        </li>
                        <li class="mb-1">
                            <p class="card-text">Auto SMS রেজাল্ট ও এনালাইসিস রিপোর্ট</p>
                        </li>
                        <li class="mb-1">
                            <p class="card-text">ডাউট সলভিংয়ে Q & A সার্ভিস</p>
                        </li>
                    </ul>

                    <div class="d-flex justify-content-center">
                        @* <a href="#" class="btn btn-primary programBtn">Details</a> *@
                        <a href="#" class="btn btn-primary programBtn">Enroll Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-3">
            <div class="card" style="">
                <img src="~/assets/images/Sub 02 (Mobile).webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center mb-3">১০ম শ্রেণি একাডেমিক প্রোগ্রাম ২০২৫ (নতুন ব্যাচ)</h5>
                    <ul>
                        <li class="mb-1">
                            <p class="card-text">
                                প্রতিটি বিষয়ের প্যারালাল টেক্সট
                            </p>
                        </li>
                        <li class="mb-1">
                            <p class="card-text">
                                লেকচার ক্লাস ও রেকর্ডেড ভিডিও
                            </p>
                        </li>
                        <li class="mb-1">
                            <p class="card-text">
                                এক্সাম ও প্র্যাক্টিস এক্সাম
                            </p>
                        </li>
                        <li class="mb-1">
                            <p class="card-text">
                                PDF ক্লাস নোট ও এক্সাম সল্যুশন
                            </p>
                        </li>
                        <li class="mb-1">
                            <p class="card-text">
                                Auto SMS রেজাল্ট ও এনালাইসিস রিপোর্ট
                            </p>
                        </li>
                        <li class="mb-1">
                            <p class="card-text">
                                ডাউট সলভিংয়ে Q & A সার্ভিস
                            </p>
                        </li>
                    </ul>

                    <div class="d-flex justify-content-center">
                        @* <a href="#" class="btn btn-primary programBtn">Details</a> *@
                        <a href="#" class="btn btn-primary programBtn">Enroll Now</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 my-3">
            <div class="card" style="">
                <img src="~/assets/images/Sub 03 (Mobile).webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center mb-3">৯ম শ্রেণি একাডেমিক প্রোগ্রাম ২০২৫ (নতুন ব্যাচ)</h5>
                    <ul>
                        <li class="mb-1">
                            <p class="card-text">প্রতিটি বিষয়ের প্যারালাল টেক্সট</p>
                        </li>
                        <li class="mb-1">
                            <p class="card-text">লেকচার ক্লাস ও রেকর্ডেড ভিডিও</p>
                        </li>
                        <li class="mb-1">
                            <p class="card-text">এক্সাম ও প্র্যাক্টিস এক্সাম</p>
                        </li>
                        <li class="mb-1">
                            <p class="card-text">PDF ক্লাস নোট ও এক্সাম সল্যুশন</p>
                        </li>
                        <li class="mb-1">
                            <p class="card-text">Auto SMS রেজাল্ট ও এনালাইসিস রিপোর্ট</p>
                        </li>
                        <li class="mb-1">
                            <p class="card-text">ডাউট সলভিংয়ে Q & A সার্ভিস</p>
                        </li>
                    </ul>

                    <div class="d-flex justify-content-center">
                        @* <a href="#" class="btn btn-primary programBtn">Details</a> *@
                        <a href="#" class="btn btn-primary programBtn">Enroll Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-3">
            <div class="card" style="">
                <img src="~/assets/images/Sub 04 (Mobile).webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center mb-3">১০ম শ্রেণি একাডেমিক প্রোগ্রাম ২০২৫ (নতুন ব্যাচ)</h5>
                    <ul>
                        <li class="mb-1">
                            <p class="card-text">
                                প্রতিটি বিষয়ের প্যারালাল টেক্সট
                            </p>
                        </li>
                        <li class="mb-1">
                            <p class="card-text">
                                লেকচার ক্লাস ও রেকর্ডেড ভিডিও
                            </p>
                        </li>
                        <li class="mb-1">
                            <p class="card-text">
                                এক্সাম ও প্র্যাক্টিস এক্সাম
                            </p>
                        </li>
                        <li class="mb-1">
                            <p class="card-text">
                                PDF ক্লাস নোট ও এক্সাম সল্যুশন
                            </p>
                        </li>
                        <li>
                            <p class="card-text">
                                Auto SMS রেজাল্ট ও এনালাইসিস রিপোর্ট
                            </p>
                        </li>
                        <li class="mb-1">
                            <p class="card-text">
                                ডাউট সলভিংয়ে Q & A সার্ভিস
                            </p>
                        </li>
                    </ul>

                    <div class="d-flex justify-content-center">
                        @* <a href="#" class="btn btn-primary programBtn">Details</a> *@
                        <a href="#" class="btn btn-primary programBtn">Enroll Now</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


