@{
    ViewData["Title"] = "Teachers";
}
<style>
    .titleMain {
        background: linear-gradient(to bottom, rgba(0, 24, 68, 0.2), rgba(188, 188, 188, 0.3));
        padding: 20px;
        text-align: center;
        color: #001844;
        font-size: 20px;
        font-weight: 600;
        /* box-shadow: inset 0px 0px 3px 0px #1a73e8; */
        /* box-shadow: 0px 3px 3px rgba(119,118,121,.5); */
        /* box-shadow: 0px 1px 10px rgba(0,24,68,0.4); */
    }

    .b-gallery.t-theme--light {
        background-color: #0e0e0e;
    }

    .b-gallery {
        align-items: center;
        background: #e2e6e7;
        display: flex;
        margin-bottom: 0;
        margin-top: 0;
        overflow: hidden;
        padding: 150px 0;
        position: relative;
    }

    .c-block {
        margin-bottom: 48px;
        margin-top: 48px;
    }

    .b-gallery__lines {
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .l-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1440px;
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;
    }

    .teachersMain {
    }

    .about-us {
        background-color: #f9f9f9;
        padding: 40px 20px;
        font-family: 'Segoe UI', sans-serif;
    }

        .about-us .container {
            max-width: 800px;
            margin: auto;
        }

        .about-us h2 {
            text-align: center;
            font-size: 2.5em;
            margin-bottom: 20px;
        }

        .about-us h3 {
            margin-top: 30px;
        }

        .about-us ul {
            list-style-type: none;
            padding: 0;
        }

            .about-us ul li {
                padding-left: 1.5em;
                margin: 0.5em 0;
                position: relative;
            }

    .about-spriha {
        /* background: linear-gradient(to right, #e0f7fa, #e1bee7); */
        /* background-color: #f1f1f1; */
        padding: 60px 20px;
        font-family: 'Segoe UI', sans-serif;
        color: #333;
    }

    .container {
        /* max-width: 900px; */
        margin: auto;
        background: white;
        padding: 40px;
        border-radius: 0px;
        /* border: 1px solid #1a73e8 ; */
        box-shadow: 0 0 10px 0px #bcbcbc;
        background: linear-gradient(to right, rgba(0, 24, 68, 0.3), rgba(188, 188, 188, 0.5));
    }

    .about-spriha h2 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 30px;
        color: #1a73e8;
    }

    .about-spriha h3 {
        color: #1a73e8;
        margin-top: 30px;
        font-size: 1.4rem;
    }

    .about-spriha p {
        font-size: 1.05rem;
        line-height: 1.8;
        margin-bottom: 15px;
        color: rgba(0, 0, 0, 0.6);
    }

    .about-spriha ul {
        padding-left: 20px;
        margin-bottom: 15px;
    }

        .about-spriha ul li {
            margin-bottom: 8px;
        }

    @@media (max-width: 768px) {
        .about-spriha h2 {
            font-size: 2rem;
        }

        .container {
            padding: 25px;
        }
    }

    @@keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(30px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @@media (max-width: 768px) {
        .about-container {
            padding: 30px 20px;
        }

        .about-content h2 {
            font-size: 2rem;
        }
    }
        h2 {
        color: #f37067;
        text-align: center;
    }

    .optionBtn {
        border: 1px solid #bcbcbc;
        padding: 5px;
        color: gray;
        font-weight: 500;
    }

    .btn-label {
        padding: 10px 20px;
        margin: 5px;
        background-color: #f1f1f1;
        color: gray;
        text-align: center;
        border: 1px solid #bcbcbc;
        width: 48%;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .btn-label:hover {
            border: 1px solid #bcbcbc;
            box-shadow: inset 0 0 10px 0 #bcbcbc
        }

    input[type="radio"] {
        display: none;
    }

        input[type="radio"]:checked + .btn-label {
            background-color: #bcbcbc;
        }

    .question {
        color: #1a3a54;
    }

    /* .mfooter{
        position: fixed;
        bottom: 0;
        width: 100%;
    } */

    .coming-soon {
        width: 100vw;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        overflow: hidden;
    }

    .coming-soon-inner {
        position: relative;
    }

    .heading {
        font-size: 80px;
        text-transform: uppercase;
        padding: 20px;
        background: #ebecee;
        color: #4970b3;
        transform: skewY(-10deg);
        font-weight: 500;
        line-height: 100px;
    }

    .small-heading {
        font-size: 25px;
        text-transform: uppercase;
        display: inline-block;
        padding: 20px;
        background: #fff;
        color: gray;
        transform: skewY(-10deg);
        font-weight: 500;
        line-height: 30px;
        box-shadow: 10px 10px 20px rgb(0 0 0 / .3);
        position: absolute;
        right: 0;
        bottom: -37px;
    }





    .coming-soon-inner:before {
        content: "";
        height: 2px;
        width: 60%;
        background: #000;
        position: absolute;
        top: -50px;
        right: 0;
        transform: skewY(-10deg);
    }

    .coming-soon-inner:after {
        content: "";
        height: 2px;
        width: 60%;
        background: #fff;
        position: absolute;
        bottom: -80px;
        right: 0;
        transform: skewY(-10deg);
    }

    .heading:before {
        content: "";
        height: 2px;
        width: 60%;
        background: #000;
        position: absolute;
        top: -50px;
        left: 0;
    }

    .heading:after {
        content: "";
        height: 2px;
        width: 60%;
        background: #fff;
        position: absolute;
        bottom: -120px;
        left: 0;
    }

    .mfooter{
        position: fixed;
        bottom: 0;
        width: 100%;
    }

</style>

<section class="titleMain">
    <div class="title teacherList col-md-12" style="font-family: cursive;">জিজ্ঞাসা:</div>
</section>



<section class="coming-soon">
    <div class="coming-soon-inner">
        <h1 class="heading">Available Soon</h1>
        <h2 class="small-heading">Under Construction</h2>
    </div>
</section>