@{
    ViewData["Title"] = "Teachers";
}
<style>
    .titleMain {
        background: linear-gradient(to bottom, rgba(0, 24, 68, 0.2), rgba(188, 188, 188, 0.3));
        padding: 20px;
        text-align: center;
        color: #001844;
        font-size: 20px;
        font-weight: 600;
        /* box-shadow: inset 0px 0px 3px 0px #1a73e8; */
        /* box-shadow: 0px 3px 3px rgba(119,118,121,.5); */
        /* box-shadow: 0px 1px 10px rgba(0,24,68,0.4); */
    }

    .b-gallery.t-theme--light {
        background-color: #0e0e0e;
    }

    .b-gallery {
        align-items: center;
        background: #e2e6e7;
        display: flex;
        margin-bottom: 0;
        margin-top: 0;
        overflow: hidden;
        padding: 150px 0;
        position: relative;
    }

    .c-block {
        margin-bottom: 48px;
        margin-top: 48px;
    }

    .b-gallery__lines {
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .l-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1440px;
        padding-left: 24px;
        padding-right: 24px;
        width: 100%;
    }

    .teachersMain {
    }

    .headerColor {
        /* background-color: rgba(0, 24, 68, 0.5); */
        /* background: linear-gradient(to bottom, rgba(0, 24, 68, 0.5), rgba(188, 188, 188, 0.5)); */
        background-color: #bcbcbc;
        height: 100px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        position: relative;
    }

    .card {
        height: 400px;
        border-radius: 15px;
        box-shadow: 0 0 5px 0px #bcbcbc;
        background-color: #f1f1f1;
        border: 1px solid rgba(0, 24, 68, 0.2);
    }

    .teacherDetails {
        padding: 0 20px 30px;
    }

    .teacherImgBorder1 {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 5px solid #f1f1f1;
        /* position: absolute; */
        /* top: 40px; */
    }

    .roundImg {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 50%;
        display: block;
    }

    .teacherName {
        text-align: center;
    }

        .teacherName h2 {
            font-size: 20px;
            color: #001844;
            font-weight: 600;
        }

    .subjectName h2 {
        font-size: 17px;
        color: gray;
        font-weight: 600;
        margin-bottom: 0px;
    }

    .roundedBg {
        border-radius: 25px;
        background: linear-gradient(to right, rgba(0, 24, 68, 0.2), rgba(188, 188, 188, 0.2));
        padding: 10px 20px 5px;
        border: 1px solid #f1f1f1;
        box-shadow: 0 0 5px 0px #bcbcbc;
    }

    .aboutTeacher h2 {
        font-size: 15px;
        color: gray;
        font-weight: 600;
        margin-bottom: 0px;
        text-align: center;
    }

    .roundImgMargin{
        margin-top: -60px;
    }
</style>


<section class="titleMain">
    <div class="title teacherList col-md-12" style="font-family: cursive;">শিক্ষকদের তালিকা:</div>
</section>


<div class="executiveCommiteeMain container">
    <div class="row">
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/2. Aribullah.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>মোঃ আরিবুল্লাহ খান</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                আইসিটি, গণিত
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                বুয়েট ১৮
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/3. Win.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>ফাতিন হাসনাত উইন</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                গণিত
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                বুয়েট ২৩
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/4. Abid.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>মোহাম্মদ আবিদ হাসান</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                পদার্থবিজ্ঞান
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                বুয়েট ২১
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/5. Hussen.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2> মোঃ হোসাইন</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                পদার্থবিজ্ঞান
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                বুয়েট ২৩
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/6. Basit.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>তাসমিউল বাসিত সরকার</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                পদার্থবিজ্ঞান
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                বুয়েট ২২
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/7. Shafat.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2> আবদুল্লাহ্ আল শাফাত</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                পদার্থবিজ্ঞান
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                বুয়েট ২২
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/8. Monjurul.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2> মোঃ মঞ্জুরুল হক</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                পদার্থবিজ্ঞান
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                বুয়েট ২৪
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/9. Kayes.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2> এম. এ. এ. কায়েস</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                পদার্থবিজ্ঞান
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                বুয়েট ১৬
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/10. Sabit Al Sami.jpg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2> মোঃ সাবিত আল সামী</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                গণিত
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                বুয়েট ২৪
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/11. Arish.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2> আরিশ</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                গণিত
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                বুয়েট ২১
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/12. Fahim.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2> ফাহিম ফয়সাল ত্বহা</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                ইংরেজি
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                ঢাবি ২২
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/13. Suhanur.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2> মোঃ সোহানুর রহমান</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                গণিত
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                গণিত
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/14. Shupto.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2> মোঃ ইমতিয়াজ সালেকীন সুপ্ত</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                পদার্থবিজ্ঞান
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                বুয়েট ২২
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/15. Shoeb.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>সালেহ মুহাম্মদ সোয়েব</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                জীববিজ্ঞান
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                ঢাকা মেডিকেল K-80
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/16. Mynurdoza.jpg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>কে. এম. মাইনূরদোজা</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                পদার্থবিজ্ঞান
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                বুয়েট ২২
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/17. Sazzad.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>মোঃ সাজ্জাদুর রহমান</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                রসায়ন
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                বুয়েট ২২
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/18. Shadhin.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>মোঃ নাফিউ নাঈম স্বাধীন</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                গণিত
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                বুয়েট ২২
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/19. Jihad.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>মোঃ জিহাদ হোসেন</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                ইংরেজি
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                ঢাবি ইংরেজি ২০২৩-২৪
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/20. Arpon.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>অর্পন আহমেদ</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                ইংরেজি
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                ঢাবি ইংরেজি ২০২২-২৩
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/21. Kawsar.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>কাওছার আহম্মেদ</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                ইংরেজি
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                ঢাবি ইংরেজি ২০২৩-২৪
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/22. Jisan.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>মোঃ হাসিবুল কবির জিসান</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                ইংরেজি
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                ঢাবি ইংরেজি ২০২২-২৩
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/23. Choton.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>মোঃ আসাদুজ্জামান ছোটন</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                ইংরেজি
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                ঢাবি ইংরেজি ২০২২-২৩
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/24. Radhik.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>রাধিক বাবু</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                ইংরেজি
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                ঢাবি ইংরেজি ২০২২-২৩
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/25. Abdullah.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>উমর আব্দুল্লাহ</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                ইংরেজি
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                ঢাবি ইংরেজি ২০২২-২৩
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/26. Rajibul.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>মোঃ রজিবুল ইসলাম</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                ইংরেজি
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                ঢাবি ইংরেজি ২০২২-২৩
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/27. Kafi.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>ইশফাকুল হুদা চৌধুরী (কাফি)</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                রসাায়ন, পদার্থবিজ্ঞান
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                বুয়েট ২২
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/28. Jibon.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>জীবন সরকার</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                পদার্থবিজ্ঞান, গণিত
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                বুয়েট ২০
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/29. Sakib.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>সাকিব হাসান</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                রসায়ন, পদার্থবিজ্ঞান, গণিত
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                বুয়েট ২০
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/30. Afnan.jpeg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>আফনান লগন</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                রসায়ন
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                বুয়েট ২২
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-6 mb-4">
            <div class="card">
                <div class="headerColor"></div>
                <div class="d-flex justify-content-center mb-3 roundImgMargin" style="z-index: 1;">
                    <div class="teacherImgBorder1">
                        <img class="roundImg" src="~/assets/images/31. Tonmoy.jpg" height="100%;" width="100%;" alt="Logo">

                        @* <div class="teacherImgBorder2">
                        </div> *@
                    </div>
                </div>

                <div class="teacherDetails">
                    <div class="teacherName">
                        <h2>তাালহা জুবায়ের তন্ময়</h2>
                    </div>
                    <div class="subjectName d-flex justify-content-center">
                        <div class="roundedBg">
                            <h2>
                                পদার্থবিজ্ঞান
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                শিক্ষক, স্পৃহা এডুকেশন কেয়ার
                            </h2>
                        </div>
                    </div>
                    <div class="aboutTeacher">
                        <div class="m-2">
                            <h2>
                                বুয়েট ২২
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

